/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body{
	margin: 0;
	padding: 0; 
}

h1{
	margin: 0;
}
/*form*/

input, textarea, select {
  border: 1px solid #bbb;
  border-radius: 2px;
  width: 100%;
  padding-left: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: 0.6s all;
  &:focus{
    border:1px solid #66a3ff;
    transition: 0.6s all;
  }
}

form{
  margin-top: 50px;
  margin-bottom: 40px;
	border: 1px solid #dee2e6;
	border-radius: 5px;
	padding: 20px;
	background-color: #f8f9fa;
}

.field_with_errors input{
border-color: #d01612;
}

/* home */

.hello{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.home_txt{
  text-align: center;
}

.alert{
  
}