<li id="micropost-<%= micropost.id %>">
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>

      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>

</li>