<% if object.errors.any? %>
<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4>The form contains <%= pluralize(object.errors.count, "error") %>:</h4>
	<div class="container">
		<div class="row">
			<!--Список всех ошибок-->
			<% object.errors.full_messages.each do |message| %>
			<div class="col-sm-12">
				<li><%= message %></li>
				</div>
			<% end %>
		</div>
	</div>
</div>
<% end %>