<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Ask a question (150 symbols max)" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>