<div class="header">
	<div class="container">
  		<div class="row">
		    <div class="col-sm-10 logo_text">
		      	<h1>VendorTrust</h1>
		    </div>
		    <div class="col-sm-2 home_link ">
		      	<%= link_to "Home", root_path %>
		    </div>
  		</div>
	</div>
</div>
